@charset "UTF-8";

<style>
body{
    background-color:hsla(165, 81%, 93%,0.5);
    color:rgba(0,0,0,1);
}
p{
    text-align: justify;
    text-indent: 50px;
}

/* Formatação de imagem */

#ap_1{
    position: relative;
    top: -170px;
    left: 750px;
   
}

#ap_2{
    position: relative;
    left: 700px;
    top: -300px;
}

#ap_3{
    position: relative;
    left: 240px;
    top: 50px;
}

#cabecalho{
    position: relative;
    background-color: rgb(84, 84, 240);
    top: -50px;
    size: 100px;
    height: 120px;
    
}

#nome{
    position: relative;
    left: 150px;
    top: 20px;
    font-size: 70px;
    color: white;
}

#logo{
    position: relative;
    left: 20px;
    top: -100px;
}

#apresentacao{
    position: relative;
    left: 100px;
    top:100px;
    width: 500px;
    font-size: 40px;
    font-weight: bolder;
    color: blue;
}



/* formatacao do menu */

nav#menu {
    display: block;
}

nav#menu ul{
    position: absolute;
    list-style: none;
    text-transform: uppercase;
    top: 10px;
    left: 1280px;
    text-align: right;
    font-weight: bolder;
}
nav#menu li{
    
    display: inline-block;
    font-family: sans-serif;
    background-color:#faf2f2;
    padding: 15px;
    margin: 2px;
    border-radius: 20px;
    padding: 22px;
    box-shadow: 1px 1px 20px 0px #000000;
    transition: background-color 1s;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
}
</style>